doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='/dist/index.css' rel='stylesheet')
  script(src='/dist/index.bundle.js' async='')
  link(href=`/images/favicon-${setting}.png` rel='shortcut icon' type='image/x-icon')
  link(href=`/images/favicon-${setting}.png` rel='apple-touch-icon')
  title #{title}
body(class=`${setting}`, data-setting=`${setting}`)
  h1.page-title !{title}
  .overlay-text.visible
    | CLICK TO START
  #game-over-text.overlay-text
    | GAME OVER
    span.overlay-text-small Click to Restart
  #victory-text.overlay-text
    | VICTORY
    span.overlay-text-small Click to Restart
  .game-container
    .game-info-container
      .game-info
        | time 
        span#time-remaining 100
      .game-info
        | flips 
        span#flips 0
    - for (var i=1; i<=8; i++)
      - for (var x=1; x<=2; x++)
        .card
          .card-back.card-face
            img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
            img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
            img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
            img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
            img.spider(src=`/images/${back}`)
          .card-front.card-face
            img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
            img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
            img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
            img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
            img.card-value(src=`/images/${front_tmpl.replace("%s", i)}`)
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Bat.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Bat.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Bones.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Bones.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Cauldron.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Cauldron.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Eye.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Eye.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Skull.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Skull.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Pumpkin.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Pumpkin.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Ghost.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Ghost.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Dracula.png')
    //-.card
      .card-back.card-face
        img.cob-web.cob-web-top-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-top-right(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-left(src='/images/Cobweb.png')
        img.cob-web.cob-web-bottom-right(src='/images/Cobweb.png')
        img.spider(src='/images/Spider.png')
      .card-front.card-face
        img.cob-web.cob-web-top-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-top-right(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-left(src='/images/CobwebGrey.png')
        img.cob-web.cob-web-bottom-right(src='/images/CobwebGrey.png')
        img.card-value(src='/images/Dracula.png')
